{{ form_start(formChangePassword)}}

<!-- Form Group (current password)-->
<div class="form-group">
	{{ form_label(formChangePassword.oldPassword) }}

	{{ form_widget(formChangePassword.oldPassword) }}
	<small style="color:red">

		<div class="form-error">
			{{ form_errors(formChangePassword.oldPassword) }}
		</div>
	</small>
</div>
<!-- Form Group (new password)-->
<div class="form-group">
	{{form_label(formChangePassword.plainPassword.first)}}
	{{form_widget(formChangePassword.plainPassword.first)}}
	<small style="color:red">
		<div class="form-error">
			{{ form_errors(formChangePassword.plainPassword.first) }}
		</div>
	</small>
</div>
<!-- Form Group (confirm password)-->
<div class="form-group">
	{{form_label(formChangePassword.plainPassword.second)}}

	{{form_widget(formChangePassword.plainPassword.second)}}
	<small style="color:red">
		<div class="form-error">
			{{ form_errors(formChangePassword.plainPassword.second) }}
		</div>
	</small>
</div>
{{form_widget(formChangePassword._token)}}

<button class="btn btn-primary" type="submit">Enregistrer</button>
{{form_end(formChangePassword)}}
