{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <div class="container">
        <div class="row p-lg-5 justify-content-center">
            <div class="col-lg-6 mb-6">
                <div class="card h-100">
                    {{form_start(form)}}
                        <h4 class="card-header">Mot de passe oublié</h4>
                        <div class="card-body">
                          <div class="form-group">
                              {{ form_label(form.password.first) }}
                              {{ form_widget(form.password.first )}}
                              {{ form_errors(form.password.first) }}

                          </div>
                            <div class="form-group">
                                {{ form_label(form.password.second) }}
                                {{ form_widget(form.password.second )}}
                                {{ form_errors(form.password.second) }}

                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit">
                                Enregistrer
                            </button>
                        </div>
                    {{form_end(form)}}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
