{% extends 'base.html.twig' %}

{% block body %}
<div class="container p-lg-5">
    <div class="row">
        <div class="col-md-9">
            <div class="card-columns">
            {% for trick in tricks %}
            <div class="card">
                    <a href="{{ path('app_trick_view', {'slug':trick.slug}) }}"><img class="card-img-top" style="height: 138px; width: 243px;" src="{{ asset(trick.imgDefault.path) }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ path('app_trick_view', {'slug':trick.slug}) }}">{{ trick.name }}</a>
                        </h4>
                        <p class="card-text">
                            {{ trick.content|slice(0, 40) ~ '...'}}
                        </p>
                    </div>
                </div>
            {% endfor %}

            </div>

        </div>


        <div class="col-md-3">
            {{ render(path('app_trick_view_category')) }}
        </div>

    </div>
    {% if app.user %}
    <a  class="btn btn-primary float-right"  href="{{ path('app_trick_create') }}">Ajouter un trick</a>
{% endif %}
</div>
{% endblock %}

