{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h1 class="mt-4 mb-3">
        {{trick.name}}
        <small class="float-right">
            <a href="{{ path('app_trick_edit',{'id': trick.id}) }}" class="btn"><i class="fa fa-edit"></i></a>
            {% if app.user == trick.user %}
            <a href="#" onclick="deleteTrick('{{ path('app_trick_delete', {id: trick.id}) }}')" class="btn"><i class="fa fa-trash"></i></a>
            {% endif %}
        </small>
    </h1>
    <div class="row p-5">
        {% if trick.imgDefault != null %}
            <img class="img-fluid rounded mb-4" src="{{ asset(trick.imgDefault.path) }}" alt="{{ trick.imgDefault.name }}" style="width: 1200px;height: 400px">
        {% endif %}
    </div>
    <h5>Photos</h5>
    <div class="row">
        {% for image in trick.images %}
            {% if trick.imgDefault.id != image.id %}
            <div class="col-md-3 col-sm-6 mb-4">
                    <img class="img-fluid" src="{{ asset(image.path) }}" alt="">
                <div class="card-body">
                    <h5>{{ image.name }}</h5>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <h5>Vidéos</h5>
    <div class="row">
        {% for video in trick.videos %}
            <div class="col-md-3 col-sm-6 mb-4">
                <iframe width="255" height="122" src="{{ video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                    <h5>{{ video.name }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Post Content -->
            <p>{{ trick.content }}</p>
            <hr>
            <!-- Date/Time -->
            <div class="justify-content-center">
            <p>Posté le: {{ trick.createdAt|date("d/m/Y") }} par: {{ trick.user.username }}</p>
            </div>
            <hr>
            <!-- Comments Form -->
            <h5>Espace commentaires</h5>
            <div class="card my-4">
                <h5 class="card-header">Ajouter un commentaire</h5>
                {% if app.user %}
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="form-group">
                           {{ form_label(form.content) }}
                            {{ form_widget(form.content) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {{ form_end(form) }}
                </div>
                {% else %}
                    <div class="alert alert-info">Vous devez être connecté pour ajouté un commentaire.</div>
                {% endif %}
            </div>
            <!-- Single Comment -->
            <div id="commentBody">

            </div>
            <div class="d-flex justify-content-center mb-2">

                <button id="moreViewsComments" class="btn btn-primary" >Voir plus</button>

            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}
    <script>
        var page = 1;

        window.onload = function() {
            $('#moreViewsComments').click(function(){
                page ++
                loadTricks(page);
            });
            loadTricks(page);
        };
        function loadTricks(page){
            var area = $("#commentBody");
            $.ajax({
                method: "GET",
                url: "{{ path('app_load_tricks_comments', {'trick': trick.id, 'page': null}) }}/"+page,
            })
                .done(function( tricksHtml ) {
                    area.append(tricksHtml);
                });
        }
    </script>
{% endblock javascripts %}

